.txtPrimary,
h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h6 a:hover,
.h6 a:hover,
.myDropdown li.dropdown-submenu:hover:after,
.pageMainNavigation.navbar-nav li.dropdown:hover > .nav-link,
.pageMainNavigation li.anchor-active .nav-link,
.navCollapse .nav-link.flash_sale,
.navbar-expand-lg .navbar-nav .nav-link:hover,
.sideNav .cartItem .proClose:hover,
.sideNav .cartItem:hover .h7 a,
.revWrap .prodCol:hover .h7 a,
.dropdown-menu.dMenu .dItem:hover,
.menuSocialNetworks .icnLink:hover,
.fNav a:hover,
.fNav a:hover:before,
.instTxt a:hover,
.footerArea .ftTxt a:hover,
.ftSocialNetworks a:hover,
.latNewsPost:hover .h7 a,
.lnPostMeta a:hover,
.lnPostMeta .lnPostAuthor a:hover,
.ratingList li a:hover,
.productCol:hover .productTitle a,
#shopSideBar .popularCatCol:hover .h7,
#shopSideBar .ctgList .ctParent > a:after,
#shopSideBar .ctgList .ctParent.hover > a,
#shopSideBar .ctgList .ctParent:hover > a,
.featurePostSlider .slick-arrow:hover,
.recentNewsSlider .slick-arrow:hover,
.widgetProfilerInfo .socialNetworks a:hover,
.blogDetailPost .lnPostMeta a:hover .icn,
.breadcrumb a:hover,
.ctgWrap .ctgList .ctParent > a:after,
.ctgWrap .ctgList .ctParent.hover > a,
.ctgWrap .ctgList .ctParent:hover > a,
.ctgList li a:hover,
.ctgList li a:after,
.ftContctHolder a:hover,
.productCol2:hover .h7,
.countdownList > li .h1,
.ctWidget .cntList a:hover,
.accountSettingTabList .nav-link.active,
.accountSettingTabList .nav-link:hover,
.userProfileForm .passwordInputWrap .password-view:hover,
.icnInputWrap .inputIcn:hover,
.blogDetailPost #content .recentNewsSlider .lnPostAuthor a:hover,
.blogDetailPost #content .bpostTag a:hover,
.blogDetailPost #content .postAuthor a:hover,
.cartTable .product-price-amount .remove-item:hover,
.compareTable .del-product:hover,
.checkoutForm .ccProduct .del-product:hover,
.filterSideBar .wdOpBtn:hover,
.filterSideBar .wdOpBtn:hover:before,
.filterSideBar .wdOpBtn:hover:after,
.filterSideBar .txtLink:hover,
.ctSorterWrapHeader .activeFilterWrap .btnClear:hover,
.ctSorterWrapHeader .activeFilterWrap .filterBtn:hover .btnDel,
.viewSorterList li a:hover,
.viewSorterList li.active a,
.shpTabsetList .nav-link:hover,
.shpTabsetList .nav-link.active,
.modal .close:hover,
.modal#signInPopup .txtLink:hover,
.modal#quickViewPopup .actionBtn:hover,
.modal#subscribePopup .subscribeBtn:hover,
.findMySizeLink:hover,
.cartForm .customRadioInput:checked + .cuFakeLabel,
.shareWTitleWrap .socialNetworks a:hover,
.hdTopBar a:hover,
.bannerSlider_v2 .slick-arrow:hover,
.hdSelectionForm .customSelectWrap:hover:after,
.popularCatCol a:hover .h7,
.header_v2 .revWrap .recLink:hover,
.boxContentHolder .ctgList .ctParent:hover > a,
.boxContentHolder .ctgList .ctParent.hover > a,
.navbar-light .navOpener .iconMenu:hover,
.navbar-light .navOpener[aria-expanded="true"] .iconMenu,
#backToTop:hover {
	color: #ef6866 !important;
}

.btnTheme,
.menuSocialNetworks .icon,
.bannerSlider .slick-dots .slick-active button:before,
.bannerSlider button:hover:before,
.productCol.discount .productImgWrap .dPrice,
.productCol[data-tag-discout] .dPrice,
.wdCol:hover,
.customFileBtnLabel .cuFakeLabel:hover,
.shpTabsetList .nav-link:before,
.quickReiwProductSlider .slick-dots .slick-active button:before,
.quickReiwProductSlider button:hover:before,
.cartForm .quantitySelectionRow .actionBtn:hover,
.contentHolder #content .topFeatureList li:before,
.sliderActionWrap .btnAction:hover,
.myDropdown.dropdown-menu.myDropdown_lg .colMyRow .h8:after {
	background-color: #ef6866 !important;
}

.btnTheme,
.cartForm .quantitySelectionRow .actionBtn:hover,
.sliderActionWrap .btnAction:hover,
.customFileBtnLabel .cuFakeLabel:hover,
.cartForm .customRadioInput:checked + .cuFakeLabel {
	border-color: #ef6866 !important;
}